
div {
	border: 1px dotted grey;
}

/*@media only screen and (min-width : 992px) {
	.row {
		height: 300px;
	}
}*/

html {
	height: 100%;
}

body {
	background-color: #cce6ff;
	height: 100%;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#center-box {
	color: #1a1a1a;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #99ceff;
	background-color: #cce6ff;
	border-radius: 4px;
	padding: 15px;
}

/* style for colored circle */

.circle-container {
	width: 400px;
	height: 400px;
	position: relative;
}

.svgbase {
	position: absolute;
	width: 50%;
	height: 50%;
	z-index: 1;
}
.svgbase path {
	transform: scale(4);
}

#button-1 {
	top: 0;
	left: 0;
}

#button-2 {
	top: 0;
	right: 0;
}

#button-3 {
	bottom: 0;
	left: 0;
}

#button-4 {
	bottom: 0;
	right: 0;
}

.svgbase path:hover {
	fill: pink;
}

/* style for control area */
.controlarea {
	border-radius: 50%;
	background-color: #ffffcc;
	position: absolute;
	width: 240px;
	height: 240px;
	top: 80px;
	left: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title {
	font-size: 3em;
	font-weight: bold;
}

#tm {
	font-size: .3em;
}

.controlrow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.controlbox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 5px;
}

.controltop {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#counter {
	background-color: #330000;
	border-radius: 3px;
	color: #cc0000;
	font-size: 1.5em;
}

.controlbutton {
	border-radius: 50%;
	height: 30px;
	width: 30px;
}

