
/*div {
	border: 1px dotted grey;
}*/

/*@media only screen and (min-width : 992px) {
	.row {
		height: 300px;
	}
}*/

html {
	height: 100%;
}

body {
	background-color: #cce6ff;
	height: 100%;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#center-box {
	color: #1a1a1a;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #99ceff;
	background-color: #cce6ff;
	border-radius: 4px;
	padding: 15px;
}

/* style for colored circle */

.circle-container {
	width: 420px;
	height: 420px;
	position: relative;
}

#frame {
	background-color: #242424;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

.svgbase {
	position: absolute;
	width: 200px;
	height: 200px;
}
.svgbase path {
	transform: scale(4);
}

/* top left button */
#button-1 {
	top: 10px;
	left: 10px;
	fill: #5ddc6b;
}
#button-1:hover {
	fill: #48c956;
}
/*#button-1:clicked {
	fill: #76f983;
}*/

/* top right button */
#button-2 {
	top: 10px;
	right: 10px;
	fill: #f5361a;
}
#button-2:hover {
	fill: #dc2004;
}
/*#button-2:clicked {
	fill: #fe7e6c;
}*/

/* bottom left button */
#button-3 {
	bottom: 10px;
	left: 10px;
	fill: #fffa34;
}
#button-3:hover {
	fill: #e4df17;
}
/*#button-3:clicked {
	fill: #fcf988;
}*/

/* bottom right button */
#button-4 {
	bottom: 10px;
	right: 10px;
	fill: #019eed;
}
#button-4:hover {
	fill: #0288cb;
}
/*#button-4:clicked {
	fill: #32b7fa;
}*/

/* style for control area */
.controlarea {
	border-radius: 50%;
	background-color: none;
	position: absolute;
	width: 220px;
	height: 220px;
	top: 100px;
	left: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}

#title {
	font-size: 3em;
	font-weight: bold;
	color: white;
}

#tm {
	font-size: .3em;
}

.controlrow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.controlbox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 8px;
	color: white;
}

.controltop {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#counter {
	background-color: #330000;
	border-radius: 3px;
	color: #cc0000;
	font-size: 1.5em;
}

.controlbutton {
	border-radius: 50%;
	height: 30px;
	width: 30px;
}

#button-start {
	background-color: red;
	border: 2px solid black;
}

#button-start:hover {
	background-color: #cc0000;
}

.button-strict {
	background-color: #666600;
	border: 2px solid black;
}

.button-strict:hover {
	background-color: #808000;
}

.button-strict.stricton {
	background-color: #ffff00;
}

.button-strict.stricton:hover {
	background-color: #e6e600;
}


